@import url('https://fonts.googleapis.com/css2?family=Rakkas&family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {

    *, html {
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth !important;
        background-color: transparent;
        /* border : 1px red solid */
    }
    ::-webkit-scrollbar {
        width: 0px;
      }
    
  }


